* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
#side {
  max-width: 100%;
  height: 100vh;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  position: relative;
}
#logo {
  position: absolute;
  left: 50px;
  top: 30px;
}
.form {
  background-color: #24221f;
  padding: 5rem;
  color: white;

  border-radius: 10px;
}

.form header img {
  position: absolute;
}

.form header h2 {
  position: relative;
  margin-left: 2rem;
}

.form header h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color:  #A9AFB9;
}
label{
  color: #24221f;
}

header {
  margin-bottom: 36px;
}

form div #senha,
form div #email {
  width: 100%;
  padding: 6px;
  background-color: #24221f;
  border: 1px solid #AFB6C2;
  border-radius: 3px;
}

form .email {
  margin-bottom: 16px;
}

form .senha {
  margin-bottom: 16px;
}

.lembrar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  background-color: #FFC632;
  border: 2px solid #FFC632;
  border-radius: 3px;
}

.conta {
  text-align: center;
}

a {
  color: #FFC632;
  text-decoration: none;
}
h4, label, input {
  color: #A9AFB9;
}